modules = ["nodejs-20", "web", "postgresql-16"]
run = "node server/server.js"

[nix]
channel = "stable-24_05"

[deployment]
run = "node server/server.js"
deploymentTarget = "cloudrun"
ignorePorts = false


[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 10236786
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/server.js"

[[deployment.responseHeaders]]
path = "/*"
name = "Access-Control-Allow-Origin"
value = "https://blinke.netlify.app"

[[deployment.responseHeaders]]
path = "/*"
name = "Access-Control-Allow-Methods"
value = "GET, POST, OPTIONS"

[[deployment.responseHeaders]]
path = "/*"
name = "Access-Control-Allow-Headers"
value = "Content-Type, Authorization"

