modules = ["nodejs-20", "web"]
run = "node server/server.js"

[nix]
channel = "stable-24_05"

[deployment]
run = "node server/server.js"
deployTrigger = ["main"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

